# 🐍 Python
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
*.log

# 📦 Poetry
poetry.lock

# 📁 VSCode (si usas)
.vscode/

# 🧩 Frontend / Node.js
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env

# 🚫 Archivos temporales
.DS_Store
*.swp
*.bak
*.tmp
*.old
